{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="fluid-container">

  	<div class="home_container">

	  	<!-- <div class="home_row_one"> -->

		  	<a class="home_panel one" href="/">
		                <div class="title_white">
		                	<span>Pictures</span></div>
		                <div class="title_black">in Black and White</div>
			</a>

			{% for gallery in page.galleries %}
		  			
		  			{% image gallery.main_image fill-400x400 as bg_img %}
		  		
					<a class="home_panel" href="{% pageurl gallery %}" style="background-image: url({{ bg_img.url }});">
						<div class="content">
							{{ gallery.page_title }}
						</div>
					</a>

		  	{% endfor %}

	  		
	  		{% for conversations in page.conversations %}
					
					{% image conversations.main_image fill-400x400 as bg_img %}
		  		
					<a class="home_panel" href="{% pageurl conversations %}" style="background-image: url({{ bg_img.url }});">
						<div class="content">
							{{ conversations.page_title }}
						</div>
					</a>

			{% endfor %}

		<!-- </div> -->

  	</div> <!-- home_container -->


  	

{% endblock %}
