{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/home2.css' %}" />

    <link rel="stylesheet" href="{% static 'css/lettering.css' %}" />   

    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">

{% endblock %}

{% block extra_js %}
	<script src="https://use.fontawesome.com/40008e6ed5.js"></script>

	<script type="text/javascript" src="{% static 'js/jquery.lettering.js'%}"></script>

	<script language="javascript">
		$(document).ready(function() {
		  $(".nice").lettering();
		  $(".nice2").lettering();
		  $(".nice3").lettering();
		});
	</script>


{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  	<div class="fluid-container home_container">

	  	<div class="left_panel">
	  		<div class="home_content title">
	  			<h1 class="nice">Pictures</h1>
	  			<h1 class="nice2">in</h1>
	  			<h1 class="nice3">Black &amp; White</h1>
	  		</div>
	  	</div>
	  	<div class="right_panel">
	  		<div class="home_content menu">
	  			{% if page.galleries %}
	  				<ul>

						{% for gallery in page.galleries %}
							<li>
				  			
				  	
								<a href="{% pageurl gallery %}" class="box demo-1">
									<i class="fa fa-arrow-right"></i> 
									<span> {{ gallery.title }}
									</span>
								</a>
							</li>

				  		{% endfor %}

				  		<li>
							<a href="mailto:john@johnlawrencejones.com" class="box demo-1">
									<i class="fa fa-arrow-right"></i> 
									<span>Contact
									</span>
								</a>
						</li>
				 	</ul>
				{% endif %}
	  		</div>
	  	</div>

  	


  	</div> <!-- home_container -->


{% endblock %}
