{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/home.css' %}" />

{% endblock %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="fluid-container">

  	<div class="home_container">

	  	<!-- <div class="home_row_one"> -->

		  	<a class="home_panel one" href="/">
		                <div class="title_white">
		                	<span>Pictures</span></div>
		                <div class="title_black">in Black and White</div>
			</a>

			<a class="home_panel two" href="/food/">
				<div class="content">
					Food
				</div>
			</a>

		<!-- </div> -->

	  	<!-- <div class="home_row_two"> -->

		  	<a class="home_panel three" href="/landscapes/">
		  		<div class="content">
	  				Landscapes
	  			</div>
	  		</a>

			<a class="home_panel four" href="/about/">
				<div class="content">
					About
				</div>
			</a>

		<!-- </div> -->

  	</div> <!-- home_container -->


{% endblock %}
