{% extends "base.html" %}

{% block body_class %}homepage{% endblock %}

{% block content %}

  <div class="fluid-container">

  	<div class="home_container">

	  	<!-- <div class="home_row_one"> -->

		  	<a class="home_panel one">
		  		<div class="content">
					Pictures in Black and White
				</div>
			</a>

			<a class="home_panel two">
				<div class="content">
					Food
				</div>
			</a>

		<!-- </div> -->

	  	<!-- <div class="home_row_two"> -->

		  	<a class="home_panel three">
		  		<div class="content">
	  				Landscapes
	  			</div>
	  		</a>

			<a class="home_panel four">
				<div class="content">
					About
				</div>
			</a>

		<!-- </div> -->

  	</div> <!-- home_container -->


{% endblock %}
