{% extends "base.html" %}

{% load static wagtailcore_tags wagtailimages_tags %}

{% block extra_css %}

    <link rel="stylesheet" href="{% static 'css/gallery.css' %}" />


{% endblock %}

{% block extra_js %}

    <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>

    <script>
        $('.grid').isotope({
          // options
          itemSelector: '.grid-item',
          // layoutMode: 'fitRows'
        });
    </script>

{% endblock %}


{% block content %}
 
    {# {% include "navbar.html" %} #}
   

    <div class="container">
        <div class="row">
            <h1>
                <div class="title_left">{{ page.title_left}}</div>
                <div class="title_right">{{ page.title_right}}</div>

            </h1>
        </div>
    </div>

    {% if page.pictures %} 
   	    <div class="grid">
   		
       			{% for picture in page.pictures %}
                <div class="grid-item">
                  {% image picture.image width-500 %}
                </div>
       			{% endfor %}

        </div>

   	{% endif %}



{% endblock %}


