body {
	/*min-height: 850px;*/
}

.home_container {
	width:100%;
	height:100%;
	margin:0;
	padding:0;
	border:0;

	overflow: hidden;

	/*background-color: red;
	border:1px solid green;*/
}

@media (max-width: 600px) {
	.home_container {
	}
}

.left_panel,
.right_panel {
	position: relative;
	display:block;

	width:50%;
	height:100%;
	
	margin:0;
	padding:0;
	border:0;

	display: flex;
	align-items: center;
	justify-content: center;
	
}

@media (max-width: 700px) {

	.home_container {
		min-height: 100%;
		height:auto;
	}

	.left_panel,
	.right_panel {
		width:100%;
		min-height: 300px;
		height:50vh;
		float:none;
	}
}


.left_panel {
	float:left;
	color: white;

	background-color: black;
	background:-moz-radial-gradient(center, rgb(33,33,33), black);
	background:-webkit-gradient(radial, center center, 120, center center, 800, from(rgb(33,33,33)), to(black));

	


/*	border:10px solid white;
	border-right:none;*/
}

.right_panel {
	float:right;
	background-color: white;
	color:black;

/*	border:10px solid black;
	border-left: none;*/
}

.home_content {
/*	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);*/

	max-width:700px;

	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto; 


}

.title {
	padding-top: 0;
	padding-bottom: 0;
	padding-left:20px;
	padding-right: 20px;

	display:inline-block;
	/*max-width: 450px;*/
	margin:0 auto;

	/*border:5px solid white;*/
	
}

.title h1 {
	text-transform: uppercase;
	/*font-size: 3.7em;*/
	/*font-size: 2em;*/
	text-align: center;
	line-height: 1.65em;
	font-weight: 300;

	margin-top:10px;
	margin-bottom:10px;
	margin-right:10px;
	margin-left:10px;
	/*padding:0;*/
}

@media (max-width: 1200px) {
	.title h1 {
		line-height: 1.35em;
	}
}

.menu {
	margin-top:20px;
	margin-bottom:20px;
	margin-right:20px;
	margin-left:20px;

	/*border:5px solid black;*/
}

.menu ul {
	list-style: none;
	margin:0;
	padding:0;
	text-align: left;
	line-height: 4em;


}

.menu ul li {
	margin:0;
	padding:0;
}

.menu a {
	text-transform: lowercase;
	color:black;
	font-size: 3.2em;
	/*font-size: 2em;*/
	/*text-align: right;*/
}

.menu a:hover,
.menu a:active,
.menu a:focus,
.menu a:visited {
		text-decoration: none;
}

.box{
  color: #fff;
  padding: 5px;
  padding-left: 5px;
  padding-right: 15px;
}
 
.box:hover{
  /*background: black;*/
  /*color: white;*/ /*#26425E;*/
}
 
.demo-1 {
  position: relative;
  text-decoration: none;
}

.box i {
	display:inline-block;
	font-size: 0.4em;
	padding-bottom: 0.4em;
	vertical-align: middle;
}

.box:hover i {
	animation: bounce 1s infinite;
	-webkit-animation: bounce 1s infinite;
	-moz-animation: bounce 1s infinite;
	-o-animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);} 
 40% {-webkit-transform: translateX(10px);}
 60% {-webkit-transform: translateX(-10px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
 40% {-moz-transform: translateX(10px);}
 60% {-moz-transform: translateX(-10px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
 40% {-o-transform: translateX(10px);}
 60% {-o-transform: translateX(-10px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
 40% {transform: translateX(10px);}
 60% {transform: translateX(-10px);}
}
 

/*

.demo-1:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
 
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.2s;
 
  -webkit-transition-property: top, left, right, bottom;
  -moz-transition-property: top, left, right, bottom;
  -ms-transition-property: top, left, right, bottom;
  -o-transition-property: top, left, right, bottom;
  transition-property: top, left, right, bottom;

  text-decoration: none;
}
 
.demo-1:hover:before, .demo-1:focus:before{
  -webkit-transition-delay: .1s;
  -moz-transition-delay: .1s;
  -ms-transition-delay: .1s;
  -o-transition-delay: .1s;
  transition-delay: .1s; 
 
  border: black solid 3px;
  bottom: -7px;
  left: -7px;
  top: -7px;
  right: -7px;

  text-decoration: none;
}
*/




@media (max-width: 900px) {
	.title h1 {
		font-size: 3em;
	}

	.menu ul li a {
		font-size: 2.8em;
		line-height: 1.2em;
	}

}









